<h1>Hi, I'm Mel</h1>
<p><%= image_tag 'profile_photo.jpeg', alt: 'Profile Photo' %></p>
<p>Life-long learner, passionate teacher, and data-driven software developer committed to creative thinking and outside-the-box solutions. Fluent in Spanish, drawing from a background in IT project management, and with a deep appreciation for cultural exchange, I use my diverse experiences to create impactful and resonant results.</p>
