<% content_for :page_title do %>
  <h1 class="page-title">Hi, I'm Mel</h1>
<% end %>

<div class="content-box">
  <p><%= image_tag 'profile_photo.jpeg', alt: 'Profile Photo' %></p>
  <p>
    <h3>Life-long learner, passionate teacher, and data-driven software developer committed to creative thinking and outside-the-box solutions. Fluent in Spanish, drawing from a background in IT project management, and with a deep appreciation for cultural exchange, I use my diverse experiences to create impactful and resonant results.</h3>
  </p>
</div>
