<p>My technological career first started when I worked as a supervisor at a computer lab help desk in college. Working with computers, helping other students, staff, and faculty, as well as finding solutions to sometimes very complicated problems all helped shape my deep passion for finding answers, searching for strategies, developing tactical approaches, and connecting with diverse groups of others. From here, I also worked with technology directly as an Assistant Coordinator for a media center lab, mainly by starting, maintaining, and designing its website.</p>

<p>With two Bachelors in hand, I began my SAP project management career at Sovos Compliance in Atlanta, GA. At Sovos, I was responsible for projects from drafting the statement-of-work to hypercare. 

