<% content_for :page_title do %>
  <h1 class="page-title">About</h1>
<% end %>

<p>From the picturesque streets of Jamestown to the bustling tech scene, my journey has been a blend of diverse experiences and deep passions. I'm Mel Langhoff, a Backend Web Developer with a rich tapestry of roles spanning from a chocolatier to an IT Project Manager.</p>

<p>Growing up in a world full of flavors and cultures, I found my path through a myriad of professions, each one shaping my approach to problem-solving and creativity. My career began in the realm of technology, where I dove into project management and IT consulting. My roles at Xcel Energy, Sling TV, Crocs, and Sovos Compliance allowed me to master Agile methodologies, cloud migration, and SAP systems. Each project was a puzzle, each challenge an opportunity to innovate and excel.</p>

<p>But my story doesn't end there. My passion for languages and teaching has been a constant thread through my life. Fluent in Spanish, I've not only navigated the complexities of international projects but also immersed myself in cultural exchanges. My time as an English teacher enriched my understanding of communication and empathy, skills I now bring to my role as a backend developer. The lessons learned from teaching—patience, clarity, and a love for learning—fuel my approach to coding and collaboration.</p>

<p>The transition to backend development was a natural evolution. At the Turing School of Software & Design, I've harnessed my technical skills and project management expertise to build robust, user-centric applications. My projects, like Market Money and Vinyl Collection, showcase my commitment to creating functional, impactful solutions that bridge the gap between technology and user needs.</p>

<p>Outside of my professional life, I'm an avid cyclist, a culinary enthusiast, and a lover of literature. Whether it's exploring new recipes, cycling through scenic trails, or losing myself in a good book, these hobbies keep me grounded and inspired. They remind me that creativity and problem-solving extend beyond the digital world and into every aspect of life.</p>

<p>My journey is a testament to the power of diverse experiences and the pursuit of continuous growth. Each chapter, from managing complex IT projects to crafting code, has equipped me with a unique perspective and a passion for innovation. As I continue to evolve in the tech world, I remain committed to leveraging my skills and experiences to make a meaningful impact.</p>
